@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroylight.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroyextrabold.woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/opensanslight.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/opensans.woff2");
  font-weight: 400;
  font-style: normal; 
}